In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('Classified_Data.csv')

In [3]:
df.sample(4)

,Unnamed: 0,WTT,PTI,EQW,SBI,LQE,QWG,FDJ,PJF,HQE,NXJ,TARGET CLASS
671,671,0.743013,0.926488,1.487607,0.681630,1.029347,0.732025,0.858715,0.907273,0.707511,1.634548,0
409,409,1.396951,0.854439,0.811558,0.545974,1.027337,0.547217,0.824403,1.127257,1.267072,1.505447,1
536,536,1.390822,1.082474,0.765115,0.395989,0.818182,0.734518,0.910852,1.137971,1.300944,1.446505,1
835,835,0.945616,1.099331,1.173252,0.596575,1.463588,1.151821,1.379120,0.767314,0.909925,1.591993,0

In [4]:
df.describe()

,Unnamed: 0,WTT,PTI,EQW,SBI,LQE,QWG,FDJ,PJF,HQE,NXJ,TARGET CLASS
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.00000
mean,499.500000,0.949682,1.114303,0.834127,0.682099,1.032336,0.943534,0.963422,1.071960,1.158251,1.362725,0.50000
std,288.819436,0.289635,0.257085,0.291554,0.229645,0.243413,0.256121,0.255118,0.288982,0.293738,0.204225,0.50025
min,0.000000,0.174412,0.441398,0.170924,0.045027,0.315307,0.262389,0.295228,0.299476,0.365157,0.639693,0.00000
25%,249.750000,0.742358,0.942071,0.615451,0.515010,0.870855,0.761064,0.784407,0.866306,0.934340,1.222623,0.00000
50%,499.500000,0.940475,1.118486,0.813264,0.676835,1.035824,0.941502,0.945333,1.065500,1.165556,1.375368,0.50000
75%,749.250000,1.163295,1.307904,1.028340,0.834317,1.198270,1.123060,1.134852,1.283156,1.383173,1.504832,1.00000
max,999.000000,1.721779,1.833757,1.722725,1.634884,1.650050,1.666902,1.713342,1.785420,1.885690,1.893950,1.00000

## EDA